@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.gridContainer{
    
    display: grid;
    max-width: 1200px;
    margin: 100px auto;

    
    /* grid-template-columns: repeat(2, 1fr); */
}
.fade{
    filter: blur(10px);

}
.productName{
    margin-top: 10px;
}
.leftContainer >.email{
    width:210px;
    border: 2px solid gray;
    padding:1rem;
    background-color: inherit;
    border-radius: 10px;
    margin-top: 60px;
}
.leftContainer >.email>input{
    outline: none;
    border: none;
    background-color: inherit;
    color:wheat


}
.secondLayer{
    overflow: hidden;
}
.leftContainer > .SummerSale{
    max-width: 200px;
    font-size: 4rem;
    font-family: Pacifico;
    line-height: 70px;
    color:hsl(137 100% 54%);

}
.secondLayer >.leftContainer{
    width:1200px
} 
.firstLayer{
    min-height: 400px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap:40px
}

.top{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.top > span{
    display: block;
    font-size: 2rem;
    max-width: 20px;
}
.top > img{
    height: 100px;
    width: 100px;
}
.arrival>.intro{
    font-size: 1rem;
    max-width: 10px;
} 
.arrival > button{
    display: block;
    margin-top:20px;
    border: 2px solid grey;
    padding: 1rem;
    border-radius: 2rem;
    background-color: transparent;
    color:wheat;
    cursor:pointer
}
.rightContainer >.arrival{
    width: 500px;
    background-color:#222122;
    margin-left: 200px;


    /* height: ; */
}
.rightContainer >.arrival > .top > span{
    max-width: 300px;

}
.rightContainer >.arrival > .top > img{
    margin-left: 20px;
    width:200px;
    height: auto;
}
.slider{
    display: flex;
    gap:40px;
    width:calc(400px * 5);

    animation: scroll 40s infinite linear;
}


.card{
    width:400px;
    position: relative;
    font-family: Roboto;
}
.sliderCategoryInfo {
    position: absolute;   
    width: 100%; 
    text-align: center; 
  }
  
  .sliderCategoryInfo > p {
    position: absolute;
    margin: 0; /* Remove default margin */
    font-size: 3rem; /* Adjust font size as needed */
    color: white;
    inset: 0;
    z-index: 10;

    
  }
  
  .goToStore {
    position: absolute;
    bottom: 10px; /* Adjust the distance from the bottom */
    left: 33%; /* Center horizontally */
    padding: 10px 20px;
    z-index: 10;
    font-weight: 500;
    font-size: 1rem;

  }
  .goToStore:hover{
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.938);
  border-radius: 10px;
    color:black
  }

.overlay{
    position: absolute;
    background-color: hsla(0, 0%, 0%, 0.7);
    z-index: 5;
    inset: 0;
    width: 400px;
    height: 400px;
}
.img{
    border-radius: 7px;
    width:400px;
}
@media screen and (max-width: 1350px) {
    .gridContainer {
        /* background-color: wheat; */
        display: grid;
        max-width: 900px;
    }
    .rightContainer >img{
        display: none;
    }
    .middleContainer >img{

        width:600px;
        height:auto;
        border:10px;
        margin-left:20% ;
    }
   .rightContainer > .arrival{
    width:350px
    }


   
  
}
@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-1000px);
  }
}